body {
  background: #222;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  color: hotpink;
}

.rainbow-text {
  font-size: 2.5rem;
  font-weight: bold;
  background: linear-gradient(
    90deg,
    rgb(236, 137, 216),
    rgb(212, 0, 255),
    rgb(238, 166, 245),
    rgb(211, 32, 228),
    rgb(170, 0, 255),
    rgb(255, 0, 132),
    violet,
    rgb(255, 0, 136)
  );
  background-size: 400% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 15s linear infinite;
  text-align: center;
  text-shadow: 0 0 7px rgba(255, 0, 204, 0.7);
}

@keyframes rainbow {
  0% {
    background-position: 0% center;
  }
  50% {
    background-position: 100% center;
  }

  100% {
    background-position: 0% center;
  }
}

main {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-size: 3.5rem;
}

input {
  appearance: none;
  -webkit-appearance: none;
  border: 0;
  font-size: 0.9rem;
  background: #888;
  padding: 1rem;
  color: white;
  cursor: pointer;
  border: #888 solid 1px;
}

input:hover {
  background: #ff12e318;
  border: 1px solid hotpink;
}

footer {
  position: absolute;
  bottom: 0;
}
